.heatmap-tooltip {
    z-index: 2001;
}

.react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
}

.react-calendar-heatmap rect {
    rx: 2px;
    ry: 2px;
    width: 6px;
    height: 6px;
}

.react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
}

.react-calendar-heatmap .color-scale-0 {
    fill: var(--background-primary-alt);
}

.react-calendar-heatmap .color-scale-1 {
    fill: #053A17;
}

.react-calendar-heatmap .color-scale-2 {
    fill: #1D6C30;
}

.react-calendar-heatmap .color-scale-3 {
    fill: #33A047;
}

.react-calendar-heatmap .color-scale-4 {
    fill: #5AD368;
}

.react-calendar-heatmap text {
    fill: --var(--color-text);
    font-size: 6x;
}

.react-calendar-heatmap .color-filled {
    fill: var(--color-accent);
}